@import '~normalize.css';
@import './raleway.css';

body {
    font-family: 'Raleway', sans-serif;
}

main {
    padding-top: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.img-container {
    background-image: url('../assets/image.jpg');
    background-size: cover;
    height: 200px;
    width: 200px;
    margin: 0 auto;
}